@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;1,500&display=swap');

.banner{
    position: relative;
    background-image: url(/assets/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 2rem;
    width: 100%;
}

.title{
    max-width: 100%;
    text-align: right; 
    font-family: 'Arial Rounded MT Bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    font-size: 4rem;
}
    
.title span {
    font-size: 2.5rem;
    display: block;
    text-align: right;
}

.button {
    background: transparent;
    color: #971b1e;
    border: none;
    border-radius: .25em;
    text-align: right;
    width: 100%;
    text-decoration: none;
     
}

.title :hover{
   text-decoration: underline .07em;
   
}

.navbar {
    border-bottom: 1px ;
    padding: .5em;
    

}
.navbar .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 3rem;
}
.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    
}

.navbar-nav li {
    padding: .5em;
    margin: 0 .5em; 
}


#form {
    background-color: #e6e6e5;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color:#214f26 ;
    fill: currentColor;
    width: 3rem;
    height: 3rem;
    padding: 10px;
  }

.navbar a {
    color:  black;
    font-family: 'Open Sans extra bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    border: 1px solid transparent;
}
.birgu{
  margin-top: 0px;
}

img{
    width: 100%;
    margin-top: 2rem;
}

.all-recipe-images{
  width: 100% ;
  margin-bottom: 1em;
}
header h1{
  font-family: 'Open Sans','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #971b1e;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}
 h2{
    font-family: 'Open Sans Condensed SemiBold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 2rem;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

h3{
  font-family: 'Open Sans Condensed SemiBold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  font-size: 1rem;
  text-align: left;
  margin-top: .25rem;
  margin-bottom: .5rem;
}
h4{
  font-family: 'Open Sans Condensed SemiBold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: .01rem;
}
h5{
  font-family: 'Open Sans Condensed SemiBold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  font-size: .75rem;
  padding-left: 2px;
}
h6{
  font-family: 'Open Sans Condensed SemiBold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  font-size: .75rem;
  margin-right: 4rem;
  padding-left: 2px;
 }
.download{
  color: white ;
  font-size: .75rem;
  background: #214f26;
  height: 1.5em;
  width: 6rem;
  text-align: center;
  padding-top: 2.5px;
}
 
a{
    text-decoration: none;
}

p {
    width: 100%;
    color: black;
    font-family: 'open sans medium 500','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5rem;
}

.aboutus p {
  padding-top:  0;
  margin-top: 0;
  font-family: 'open sans medium 500','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .75rem;
  line-height: 1.5rem;
}

ul, ol, .address {
  font-family: 'open sans medium 500','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .75rem;
  line-height: 1.5rem;
}


.material-symbols-outlined {
  color:#214f26 ;
  font-size: medium;
}

.dropbtn{
    display: flex;
    color:  black;
    font-family: 'Open Sans extra bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none; 
       
}

  /* Dropdown button */
  .dropdown  {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* font size on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    text-decoration: underline;    
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }
  .dropdown-content .fa, .dropdown-content .fa-solid {
    margin-left: 1rem;
  }

  .fa, .fa-caret-down{
    text-decoration: none;
  }
  
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    text-decoration: none;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .fa, .fa-solid{
    color: #214f26;
  }


  
  footer{
    background-color: black;
    color: rgb(175, 175, 175) ;
    border: 1px;
    height: 4em;
  }

  .footer{
    padding-top: 1.5em;
    padding-left: 5em;
    padding-right: 5em;
  }

  .footer, .fa-regular, .fa-brands{
    color: rgb(175, 175, 175);
  }

 .icons{
  display: flex;
  
 }

 .fa-utensils{
  margin-left: 4rem;
 }
 .card{
  background-color: white;
 }
 

.card label{
  display: inline-block;
  cursor: pointer;
  color:white ;
  background-color: #214f26;
  margin-top: 12px;
  font-family: 'Open Sans Condensed SemiBold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .65rem;
  padding: 3px 13px;
}

.btn{
  font-family: 'Open Sans Condensed SemiBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  padding: 4px;
  background-color: #214f26;
  width: 70px;
  height: 16px;
  
}
/* problem with right align of download */
.download{
  margin-left: auto;
}


.fa-download{
  color: white;

}

#read-more:checked ~ .content{
  display: block;
}

#read-more:checked ~ label{
  display: none;
}


#read-more-2:checked ~ .content{
  display: block;
}

#read-more-2:checked ~ label{
  display: none;
}

#read-more-3:checked ~ .content{
  display: block;
}

#read-more-3:checked ~ label{
  display: none;
}

.content{
  display: none;
}

 hr{
  margin-top: 10px;
  margin-bottom: 10px;
 }

.contact-form label, 
.contact-form input, 
.contact-form select, 
.contact-form textarea{
    display: block;
    width: 100%;
    background-color: white;
}

.contact-form label {
    margin-bottom: 0.5em;
    height: 1rem;
    font-family: 'open sans medium 500','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    border: 1px solid #22333B;
    padding: .5em;
    border-radius: 8px;
    height: 1rem;
}

.contact-form :invalid {
    border-color: #971b1e;
    color: #971b1e;
}

.contact-form :invalid {
    color: #971b1e;
    width: 100% ;
}
::placeholder{
    color: #888;
}

.contact-form button {
    cursor: pointer;
    padding: .8em;
    width: 100% ;
    font-size: 1.2em;
}

.contact-form button.clear {
  background-color: #971b1e;
  height: .5rem;
  width: 7rem;
}

.contact-form button.clear:hover {
    background-color: rgb(249, 27, 27);
}

.submit, .clear{
  text-align: center;
  color: white;
}

.contact-form button.submit{
  background-color: #214f26;
  height: .5rem;
  width: 7rem;
}
#message-input{
  height: 5rem;
  font-family: 'Open Sans','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-color: #971b1e;
}


.contact-form button.submit:hover{
  background-color: #35b644;
}

.contact-details hr {
    border: none;
    border-top: 1px solid #22333B;
    margin: 2em 0;
}

.contact-details h3 {
    margin-bottom: .5em;
    margin-top: 1em;
}

.contact-details p {
    margin: 0;
}

.contact-heading {
  font-weight: bold;
  text-align: left;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}